@import "../../../styles.scss";
// Add Friends Component Styles

.friends {
  padding: 20px;
  background-color: $color-light-gray; // Use global color
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-family: "Orbitron", sans-serif; // Use global font
    color: $color-black; // Use global color
    margin-bottom: 15px;
  }

  .search {
    display: flex;
    margin-bottom: 20px;

    input {
      @extend input; // Use global input styles
      flex: 1;
      margin-right: 10px;
    }

    button {
      @extend button; // Use global button styles
    }
  }

  .user-result {
    margin-bottom: 20px;

    p {
      margin: 0;
    }

    button {
      @extend button; // Use global button styles
      margin-left: 10px;
    }

    span {
      color: $color-dark-gray; // Use global color
    }
  }

  h3 {
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      background-color: $color-white; // Use global color
      border: 1px solid $color-gray;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 10px;

      button {
        @extend button; // Use global button styles
      }
    }
  }

  p {
    color: $color-dark-gray; // Use global color
  }
}
