@import "../../../styles.scss";

// Chat Lobby Styles

.chat-lobby {
  padding: 20px;
  background-color: $color-light-gray; // Use global color
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.lobby-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.nav-button {
  @extend button; // Use global button styles
  flex: 1;
  margin: 0 5px;

  &.active {
    background-color: $color-dark-gray; // Highlight active button
    color: $color-white; // Use global color
  }
}

.rooms-container {
  margin-top: 20px;
}

// Available Rooms Styles
.available-rooms {
  .room-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .room-list {
    list-style-type: none;
    padding: 0;

    .room-item {
      background-color: $color-white; // Use global color
      border: 1px solid $color-gray;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 10px;

      .room-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .room-tag {
          padding: 5px;
          border-radius: 8px;
          &.general {
            background-color: rgba(0, 128, 0, 0.5);
          }
          &.private {
            background-color: rgba(255, 0, 0, 0.5);
          }
        }
      }

      .room-actions {
        display: flex;
        justify-content: space-between;

        .action-button {
          @extend button; // Use global button styles
        }
      }
    }
  }

  .no-rooms {
    color: $color-dark-gray; // Use global color
  }
}

// User Rooms Styles
.user-rooms {
  .room-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .create-room {
    margin-bottom: 20px;

    .form-input,
    .form-select {
      @extend input; 
      margin: 0 5px 10px 5px;
    }

    .form-button {
      @extend button;
    }
  }

  .room-list {
    list-style-type: none;
    padding: 0;

    .room-item {
      background-color: $color-white;
      border: 1px solid $color-gray;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 10px;

      .room-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .room-tag {
          padding: 5px;
          border-radius: 8px;
          &.general {
            background-color: rgba(0, 128, 0, 0.5);
          }
          &.private {
            background-color: rgba(255, 0, 0, 0.5);
          }
        }
      }

      .room-actions {
        display: flex;
        justify-content: space-between;
        gap: 5px;

        .action-button {
          @extend button;
        }
      }
    }
  }

  .no-rooms {
    color: $color-dark-gray; 
  }
}
